# Files for git to ignore
*.class
.classpath
.DS_Store
*.class

*.class

*.class

QuizSite/bin/question/MultipleChoiceQuestion.class

QuizSite/bin/question/PictureQuestion.class

QuizSite/bin/question/Question.class

QuizSite/bin/question/ResponseQuestion.class

QuizSite/bin/question/ResponseQuestion.class

QuizSite/bin/question/Question.class

QuizSite/bin/question/PictureQuestion.class

QuizSite/bin/question/MultipleChoiceQuestion.class

QuizSite/bin/question/ResponseQuestion.class

QuizSite/bin/question/Question.class

QuizSite/bin/question/PictureQuestion.class

QuizSite/bin/question/MultipleChoiceQuestion.class

*.class

QuizSite/bin/db/QuizSqlStatements.class

QuizSite/bin/db/UserInfo.class

QuizSite/bin/user/CreateServlet.class
