.* {
	font-family:"Georgia";
}
.navbar {
	float:right;
	padding:0px;
}
.inline {
	display:inline;
}
.achievements {
	margin-left:50px;
	margin-top:-20px;
}
.welcome {
	font-weight:bold;
	font-size:xx-large;
}
.announce {
	font-weight:bold;
}
table.table1 td{ 
	border-left:1px dotted black;
	border-right:1px dotted black;
	padding:5px;
}
table.table2 td, table.table3 td, table.table4 td, table.table5 td  { 
	border-left:0px dotted black;
	border-right:0px dotted black;
	padding:5px;
	text-align:center;
}
table.table1 th, table.table2 th, table.table3 th {
	border-bottom:1px dotted black;
	min-width:80px;
}
table.table4 th {
	border-bottom:1px dotted black;
	width: 300px;
}
table.table5 th {
	width:80px;
	border-bottom:1px dotted black;
}
.panel1 {
	width:65%;
	float:left;
}
.panel2 {
	width:35%;
	float:left;
}
.panel3 {
	width:40%;
	float:left;
}
.panel4 {
	width:60%;
	float:left;
}
.list1 {
	list-style-type:none;
	margin-top:-10px;
	margin-left:-20px;
}
.table3 {
	margin-left:-5px;
}
.quiz-buttons {
	float:right;
}
.centeredImage {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.centered {
	margin-left:auto;
	margin-right:auto;
	width:325px;
}
.loginButton {
	padding:5px;
	background-color:whitesmoke;
	border: 1px solid #666;
  	color:#000;
  	width:250px;
}
.logo {
	height:75px;
}
.right {
	float:right;
}
.navbarItem {
	padding:3px;
}
.navbarPanel {
	background-color:ghostwhite;
}